include ../mixins/mixins

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/main.css')
    body 
        script.
            const userLoggedIn = !{userLoggedInJs};
        .wrapper
            .row
                nav.col-2
                    a.blue(href="/")
                        i.las.la-feather-alt
                    a(href="/")
                        i.las.la-home
                    a(href="/search")
                        i.las.la-search
                    a(href="/notifications")
                        i.las.la-bell
                        span#notificationsBadge
                    a(href="/messages")
                        i.las.la-envelope
                        span#messagesBadge
                    a(href="/profile")
                        i.las.la-user
                    a(href="/logout")
                        i.las.la-sign-out-alt
                .mainSectionContainer.col-10.col-md-8.col-lg-6
                    .titleContainer
                        h1 #{pageTitle}
                        block headerButton
                    block content
                .d-none.d-md-block.col-md-2.col-lg-4
        #notificationList                            


        link(rel='stylesheet', href='https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.15.2/css/all.css', integrity='sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu', crossorigin='anonymous')
        script(src='https://code.jquery.com/jquery-3.5.1.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.min.js')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.2/socket.io.js', integrity='sha512-YybopSVjZU0fe8TY4YDuQbP5bhwpGBE/T6eBUEZ0usM72IWBfWrgVI13qfX4V2A/W7Hdqnm7PIOYOwP9YHnICw==', crossorigin='anonymous')

        block scripts

        script(src='/js/common.js')
        script(src='/js/clientSocket.js')