extends layouts/main-layout.pug
block content
    .resultsContainer

block headerButton
    button#markNotificationsAsRead
        i.las.la-check-circle

block scripts
    script(src='/js/notificationsPage.js')