extends layouts/main-layout.pug
block content
    script.
        const postId = '!{postId}'

    .pinnedPostContainer
    .postsContainer

    +createPostModals(userLoggedIn)

block scripts
    script(src='/js/postPage.js')