:root {
	--blue: #1fa2f1;
	--blueLight: #7fbbe0;
	--blueBackground: rgba(212, 237, 255, 0.6);
	--buttonHoverBg: #d4edff;
	--lightGrey: rgb(230, 236, 240);
	--spacing: 15px;
	--greyText: rgb(101, 119, 134);
	--greyButtonText: rgba(0, 0, 0, 0.34);
	--red: rgb(226, 34, 94);
	--redBackground: rgb(226, 34, 94, 0.1);
	--green: rgb(23, 191, 99);
	--greenBackground: rgba(23, 191, 99, 0.1);
}

html,
body {
	height: 100%;
	min-width: 100%;
	background: #15202b;
	color: white;
	font-weight: 300;
	overflow-x: hidden;
}

* {
	outline: none !important;
}
ul {
	margin: 0;
}
a {
	color: inherit;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 19px;
	font-weight: 800;
	margin: 0;
}
.smallNavBar {
	position: absolute;
	height: 0px;
	visibility: hidden;
}

.wrapper {
	position: relative;
	max-width: 1250px;
	max-height: 100vh;
	display: flex;
	margin: 0 auto;
}

.wrapper .app {
	height: 100vh;
	width: 350px;
	z-index: 2;
}

.wrapper .app .navContainer {
	background: #15202b;
	height: 100%;
	position: fixed;
	/* padding-top: 30px; */
}

/* .app .navContainer .logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/* margin: 2px 0 0 2px; */
/* padding: 0; */

.navContainer .logo i {
	font-size: 60px;
	color: var(--blue);
}

.navContainer nav {
	margin-left: 40px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.navContainer nav i {
	display: flex;
	align-items: center;
	font-size: 30px;
	cursor: pointer;
	color: white;
	margin-right: 20px;
}
.navContainer nav i span {
	font-weight: 300;
	font-size: 20px;
	padding-left: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.navContainer nav i:hover {
	color: var(--blue);
}

.navContainer nav div {
	display: flex;
	align-items: center;
	padding: 30px 25px 30px 12px;
	position: relative;
}

button {
	background-color: transparent;
	border: none;
	color: white;
}

button i,
button span {
	pointer-events: none;
}

.expandableContainer {
	width: 100%;
	display: flex;
}

.mainSectionContainer {
	width: 598px;
	border-left: 10px solid rgb(23, 36, 49);
	border-right: 10px solid rgb(23, 36, 49);
	min-height: 100vh;
	height: 100;
}

.extraContainer {
	flex-grow: 100;
	/* display: flex; */
	/* flex-direction: column; */
	border-right: 10px solid rgb(23, 36, 49);
}
.latestTrendingPost,
.userSuggestions {
	height: 50%;
	width: 378px;
}
.latestTrendingPost h1,
.userSuggestions h1 {
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid rgb(23, 36, 49);
}

.latestTrendingPost,
.userSuggestions {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	border-bottom: 10px solid rgb(23, 36, 49);
}

.trendingPostContainer,
.userToFollowConatiner {
	overflow-y: scroll;
}
.userToFollowConatiner .user {
	display: flex;
	padding: 10px;
}
.userToFollowConatiner .user div {
	margin-bottom: 10px;
}

.userToFollowConatiner .user .username {
	visibility: hidden;
}

.titleContainer {
	height: 53px;
	padding: 0 var(--spacing);
	display: flex;
	align-items: center;
	border-bottom: 1px solid rgb(23, 36, 49);
	flex-shrink: 0;
	position: sticky;
	top: 0;
	z-index: 1;
	background: #15202b;
}

.titleContainer h1 {
	flex: 1;
}

.postFormContainer {
	display: flex;
	padding: var(--spacing);
	border-bottom: 10px solid rgb(23, 36, 49);
	flex-shrink: 0;
}

.modal .postFormContainer {
	border: none;
	padding: 0;
	padding-top: var(--spacing);
}

.modal .post {
	padding: 0;
	padding-bottom: var(--spacing);
}

.modal #submitReplyButton,
#deletePostButton,
#imageUploadButton,
#coverPhotoButton,
#pinPostButton,
#unpinPostButton,
#postPhotoButton,
#chatNameButton {
	color: white;
	background-color: var(--blue);
	border-radius: 40px;
}

.userImageContainer {
	width: 50px;
	height: 50px;
}
.userImageContainer img {
	width: 100%;
	border-radius: 50%;
	background-color: rgb(30, 47, 65);
}

.textareaContainer {
	flex: 1;
	padding-left: var(--spacing);
}

.textareaContainer textArea {
	width: 100%;
	border: none;
	resize: none;
	font-size: 19px;
	background-color: #15202b;
	padding: var(--spacing);
	color: white;
	/* border: 3px solid rgb(23, 36, 49); */
}

#submitPostButton {
	background-color: var(--blue);
	color: white;
	border: none;
	border-radius: 40px;
	padding: 7px 14px;
}

#submitPostButton:disabled {
	opacity: 0.65;
}
.post {
	display: flex;
	flex-direction: column;
	padding: var(--spacing);
	cursor: pointer;
	border-bottom: 1px solid #15202b;
	flex-shrink: 0;
}

.mainContentContainer {
	flex: 1;
	display: flex;
}

.postContentContainer {
	padding-left: var(--spacing);
	display: flex;
	flex-direction: column;
	flex: 1;
}

.displayName {
	font-weight: bold;
}

.username,
.date {
	color: var(--greyText);
}

.displayName {
	font-weight: bold;
}

.postFooter {
	display: flex;
	align-items: center;
}
.postFooter .postButtonContainer {
	flex: 1;
	display: flex;
	margin-top: 20px;
}

.postFooter .postButtonContainer button i {
	margin-top: 3px;
	font-size: 22px;
}
.postFooter .postButtonContainer button span {
	font-size: 21px;
}

.header a:hover {
	text-decoration: underline;
}

.header a,
.header span {
	padding-right: 5px;
}

.postButtonContainer button:hover {
	color: var(--blue);
}

.postButtonContainer.red button.active {
	color: var(--red);
}
.postButtonContainer.red button:hover {
	color: var(--red);
}

.postButtonContainer.green button.active {
	color: var(--green);
}

.postButtonContainer.green button:hover {
	color: var(--green);
}

.postActionContainer {
	padding-left: 65px;
	font-size: 15px;
	color: var(--greyText);
	margin-bottom: 10px;
}

.replyFlag {
	margin-bottom: 5px;
}

.replyFlag a {
	color: var(--blue);
}

.post.boldFont .postBody {
	font-weight: 600;
}

.postContentContainer .header {
	display: flex;
}

.postContentContainer .header .date {
	flex: 1;
}

.errorMessage {
	padding: var(--spacing);
}

.profileHeaderContainer .coverPhotoSection {
	height: 200px;
	background-color: var(--blue);
	position: relative;
}

.profileHeaderContainer .userImageContainer {
	height: 132px;
	width: 132px;
	margin-left: var(--spacing);
	position: absolute;
	bottom: -66px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
	border: 4px solid rgb(30, 47, 65);
}

.profileHeaderContainer .profileButtonsContainer {
	text-align: right;
	padding: var(--spacing);
	min-height: 66px;
}

.profileButton,
.followButton {
	font-size: 20px;
	border: 1px solid var(--blue);
	color: var(--blue);
	font-weight: bold;
	padding: 5px 15px;
	border-radius: 60px;
	display: inline-block;
	margin-left: var(--spacing);
}

.profileButton:hover,
.followButton:hover {
	background-color: rgb(30, 47, 65);
}

.followButton.following {
	background-color: var(--blue);
	color: black;
}

.profileHeaderContainer .userDetailsContainer {
	display: flex;
	flex-direction: column;
	padding: 0 var(--spacing);
}
.followersContainer .value {
	font-weight: bold;
	margin-right: 5px;
}
.followersContainer span:not(.value) {
	color: var(--greyText);
}
.followersContainer a {
	margin-right: var(--spacing);
}
.followersContainer a:hover {
	border-bottom: 1px solid white;
}

.tabsContainer {
	display: flex;
	border-bottom: 1px solid rgb(23, 36, 49);
	flex-shrink: 0;
}

.tab {
	flex: 1;
	height: 52px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--greyText);
	font-weight: bold;
}

.tab.active {
	color: var(--blue);
	border-bottom: 2px solid var(--blue);
}
.tab:hover {
	color: var(--blue);
	background-color: rgb(30, 47, 65);
}

.noResults {
	padding: var(--spacing);
}

.resultsContainer {
	display: flex;
	flex-direction: column;
}

.resultsContainer .user {
	padding: var(--spacing);
	display: flex;
	border-bottom: 1px solid rgb(23, 36, 49);
}
.user .userDetailsContainer {
	flex: 1;
	padding: 0 var(--spacing);
}

.profilePictureButton,
.coverPhotoButton {
	position: absolute;
	font-size: 50px;
	color: rgba(0, 0, 0, 0.6);
	display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
	display: block;
}

.coverPhotoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.coverPhotoContainer img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#imagePreview,
#coverPreview,
#postPreview {
	width: 100%;
	display: block;
	max-width: 100%;
}
.imagePreviewContainer,
.coverPhotoPreviewContainer {
	margin-top: 20px;
}

.pinButton,
.deleteButton {
	font-size: 20px;
}

.deleteButton {
	color: var(--red);
}

.pinButton.active {
	color: var(--blue);
}

.pinnedPostText {
	font-size: 14px;
	color: var(--greyText);
}

.pinnedPostContainer {
	border-bottom: 10px solid rgb(23, 36, 49);
}

.buttonsContainer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.buttonsContainer i {
	font-size: 30px;
}
.postPhotoButton:hover {
	color: var(--blue);
}

.postPhotoPreviewContainer {
	margin-top: var(--spacing);
}

.model-body-post .postFormContainer {
	padding-top: 0;
}

.postPhotoContainer img {
	margin-top: var(--spacing);
	width: 100%;
	border-radius: 5px;
}

.badge {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 12px;
	color: var(--blue);
	padding-top: 6px;
}

.searchBarContainer {
	position: relative;
	color: var(--greyText);
	padding: 10px var(--spacing);
}

.searchBarContainer i {
	position: absolute;
	top: 20px;
	left: 28px;
	color: white;
}

.searchBarContainer #searchBox {
	height: 36px;
	width: 100%;
	padding: 5px 15px 5px 40px;
	border-radius: 50px;
	background-color: rgb(23, 36, 49);
	border: none;
	color: white;
}

.newMessageButton {
	font-size: 25px;
}

.chatPageContainer {
	flex: 1;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 53px);
	flex-basis: 0;
}
.chatTitleBar {
	border-bottom: 1px solid rgb(23, 36, 49);
	display: flex;
	align-items: center;
	min-height: 60px;
	padding: 10px;
}

.chatTitleBar label {
	margin: auto 10px auto 0;
}

#userSearchTextBox {
	border: none;
	flex: 1;
	font-weight: 200;
	min-width: 350px;
}

#createChatButton {
	border: none;
	background-color: var(--blue);
	color: white;
	padding: 7px 20px;
	margin: 10px auto;
	border-radius: 40px;
}

#createChatButton:disabled {
	opacity: 0.6;
}

.selectedUser {
	font-weight: 300;
	background-color: rgb(30, 47, 65);
	color: #0084ff;
	padding: 5px;
	border-radius: 3px;
	margin: 5px 5px 0 0;
	display: inline-block;
}

.resultListItem {
	padding: 15px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	border-bottom: 1px solid rgb(23, 36, 49);
}

.resultListItem:hover {
	background-color: rgb(30, 47, 65);
}

.resultsDetailsContainer {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	font-weight: 400;
	flex: 1;
}

.resultsDetailsContainer .heading {
	font-weight: 500;
	font-size: 18px;
}

.resultsDetailsContainer .subText {
	font-size: 15;
	color: var(--greyText);
}

.resultListItem img {
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.resultsImageContainer {
	height: 60px;
	width: 60px;
	position: relative;
	margin-right: 10px;
	display: flex;
	align-items: center;
	padding: 5px;
}

.groupChatImage img {
	height: 65%;
	width: 65%;
	position: absolute;
	bottom: 0;
	margin: 0;
	border: 2px solid rgb(30, 47, 65);
}

.groupChatImage img:first-of-type {
	top: 0;
	right: 0;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.chatTitleBarContainer {
	border-bottom: 1px solid rgb(23, 36, 49);
	display: flex;
	align-items: center;
	padding: var(--spacing);
}

#chatName {
	width: 100%;
	font-size: 20px;
	border: 1px solid transparent;
	padding: 0 5px;
	font-weight: 500;
}

#chatName:hover {
	border: 1px solid rgb(30, 47, 65);
	cursor: text;
}
.mainContetContainer {
	width: 100%;
	height: 100%;
	overflow-y: hidden;
}

.chatContainer {
	flex: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.chatContainer .footer {
	display: flex;
	padding: var(--spacing);
	flex-shrink: 0;
}

.chatContainer .footer textarea {
	flex: 1;
	resize: none;
	background-color: rgba(0, 0, 0, 0.05);
	border-radius: 18px;
	border: none;
	padding: 8px 12px;
	height: 38px;
	color: white;
}

.chatContainer .footer button {
	background-color: transparent;
	color: var(--blue);
	font-size: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chatMessages {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: var(--spacing);
}

.chatImagesContainer {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	margin-right: 14px;
}

.chatImagesContainer img {
	width: 60px;
	height: 60px;
	border: 2px solid rgb(30, 47, 65);
	border-radius: 50%;
}

.chatImagesContainer .userCount {
	height: 60px;
	width: 60px;
	background-color: rgb(23, 36, 49);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	border: 2px solid rgb(30, 47, 65);
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
	margin-left: -14px;
}

#chatNameTextbox {
	width: 100%;
}

.chatMessages .message {
	padding-bottom: 2px;
	list-style: none;
	display: flex;
	align-items: flex-end;
	flex-shrink: 0;
}
.typingDots img,
.chatMessages .message .messageBody {
	background-color: rgb(30, 47, 65);
	padding: 6px 12px;
	border-radius: 20px;
	font-size: 16px;
	overflow-wrap: break-word;
	white-space: pre-wrap;
}

.typingDots img {
	height: 35px;
}
.typingDots {
	padding: var(--spacing);
	padding-bottom: 0;
	display: none;
}
.chatMessages .message .messageContainer {
	display: flex;
	flex-direction: column;
	max-width: 55%;
}
.chatMessages .message.mine .messageContainer {
	align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
	align-items: flex-start;
}

.chatMessages .message.mine {
	flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
	background-color: var(--blue);
	color: rgb(0, 0, 0);
}
.chatMessages .message.mine span {
	font-weight: 500;
}

.chatMessages .message.mine.first .messageBody {
	border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
	border-bottom-right-radius: 20px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
	border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
	border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
	border-bottom-left-radius: 2px;
	border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
	border-bottom-left-radius: 20px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
	border-top-left-radius: 2px;
}

.senderName {
	color: rgba(255, 255, 255, 0.6);
}

.chatMessages .imageContainer {
	height: 28px;
	width: 28px;
	margin-right: 7px;
}
.chatMessages img {
	height: 100%;
	border-radius: 50%;
	vertical-align: bottom;
}

.chatMessages .message.last {
	margin-bottom: 7px;
}

.loadingSpinnerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	flex: 1;
}
.loadingSpinnerContainer img {
	width: 40px;
}

.resultListItem.active {
	background-color: rgb(30, 47, 65);
}

.resultListItem.notification * {
	pointer-events: none;
}

#markNotificationsAsRead {
	font-size: 25px;
	color: white;
}

#notificationsBadge,
#smallNotificationsBadge,
#smallMessagesBadge,
#messagesBadge {
	background-color: var(--red);
	height: 25px;
	width: 25px;
	border-radius: 50%;
	position: absolute;
	top: 20px;
	left: 30px;
	color: white;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

#notificationsBadge.active,
#messagesBadge.active {
	visibility: visible;
}

.chatPageContainer .resultsContainer .user * {
	pointer-events: none;
}

#notificationList {
	position: fixed;
	top: var(--spacing);
	right: var(--spacing);
	width: 350px;
	background-color: rgb(30, 47, 65);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	z-index: 3;
}

#notificationList .resultListItem {
	padding: 7px;
}
#notificationList .resultsDetailsContainer {
	font-size: 14px;
	font-weight: 300px;
}

#notificationList .active {
	background-color: rgb(30, 47, 65);
}

#userSearchTextBox {
	background: #15202b;
	color: white;
	padding-left: 10px;
}

.modal-header {
	border: 1px solid rgb(30, 47, 65);
}

.modal-content {
	background: #15202b;
}
.modal-footer {
	border: 1px solid rgb(30, 47, 65);
}

#chatNameTextbox {
	background: rgb(23, 36, 49);
	color: white;
	border: 1px solid rgb(30, 47, 65);
}

@media screen and (max-width: 1250px) {
	.latestTrendingPost,
	.userSuggestions {
		width: 0;
		visibility: hidden;
	}
	.extraContainer {
		width: 0;
		border-right: 0;
	}
	.mainSectionContainer {
		width: 685px;
	}
}

@media screen and (max-width: 1000px) {
	.wrapper .app {
		width: 100px;
	}
	.wrapper .app .navContainer {
		width: 80px;
	}
	.navContainer nav i span {
		visibility: hidden;
	}
	.navContainer nav {
		margin-left: 20px;
	}
	.navContainer .logo i {
		font-size: 40px;
		margin-left: -8px;
	}
	.mainSectionContainer {
		width: 685px;
	}
}

@media screen and (max-width: 785px) {
	.wrapper .app {
		width: 100px;
	}
	.wrapper .app .navContainer {
		width: 80px;
	}
	.navContainer nav {
		margin-left: 20px;
	}
	.navContainer .logo i {
		font-size: 40px;
		margin-left: -8px;
	}
	.mainSectionContainer {
		width: 100%;
	}
}

@media screen and (max-width: 605px) {
	* {
		font-size: 15px;
	}
	span {
		font-size: 17px;
	}

	.smallNavBar {
		visibility: visible;
		z-index: 2;
		height: 60px;
		width: 100%;
		position: fixed;
		top: 0;
		background: #15202b;
		margin-bottom: 10px;
	}
	.smallNav {
		height: 100%;
		padding: 10px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}

	.smallNav div {
		position: relative;
	}

	.smallNav i {
		font-size: 30px;
	}

	.smallNav .logo {
		color: var(--blue);
	}

	.titleContainer {
		position: relative;
		margin-top: 60px;
	}

	.wrapper .app {
		width: 0;
		display: none;
	}
	.wrapper .app .navContainer {
		display: none;
	}
	.mainSectionContainer {
		width: 100%;
		border-left: 0px;
		border-right: 0px;
	}
	i {
		font-size: 20px;
	}

	.badge {
		margin-top: -3px;
	}

	.badge i {
		font-size: 14px;
	}
	#notificationsBadge,
	#messagesBadge {
		display: none;
	}

	#smallNotificationsBadge.active,
	#smallMessagesBadge.active {
		position: absolute;
		left: 12px;
		top: -6px;
		height: 20px;
		width: 20px;
		font-size: 13px;
		visibility: visible;
	}
}
